body {
  font-family: sans-serif;
  background: none;
}
table {
  border-collapse: collapse;
}
.hidden {
  display: none !important;
}
body {
  display: flex;
  justify-content: center;
}
.board {
  position: relative;
  display: flex;
  align-items: center;
}
.square:hover {
  background-color: #ddd;
}
.square {
  background-color: white;
  padding: 0;
  width: 30vw;
  height: 30vw;
  line-height: 30vw;
  text-align: center;
  font-size: 15vw;
  box-sizing: border-box;
  border: 1px solid black;
  cursor: pointer;
}
.win {
  color:red;
}
#prompt {
  position: absolute;
  left: 10vw;
  top: 5vw;
  font-size: 8vw;
  width: 70vw;
  height: 70vw;
  line-height: 1.5em;
  border-radius: 30px;
  text-align: center;
  background-color: green;
}
#prompt div{
  cursor: pointer;
  font-size: .7em;
  height: 10vw;
  line-height: 10vw;
  border-radius: 20px;
  width: 50vw;
  margin: 2vw auto;
  background-color: #888;
}
#prompt div:hover {
  background-color: #ccc;
}